{% extends 'base.html' %}


{% block titulo %}
<div style="margin-left:1rem"><h4>Acerca de nosotros</h4> </div>
{% endblock %}

{% block contenido %}
<br>


<div style="margin-left:1rem">
Somos <span style = color:rgb(19,16,15)><b>Ramsés González</b></span> y <span style = color:rgb(19,16,15)><b>Ramiro Bembeniuk</b></span>, arquitectos residiendo en Buenos Aires, con gran interés en la aplicación de nuevas tecnologías.
<br>Habiéndonos graduado a fines de 2021, nos encontramos en la búsqueda de incorporar nuevas herramientas a nuestra práctica.</br><br><i>Creemos</i> que la programación puede marcarnos un camino, no solo de desarrollo profesional, sino también personal. </br>
Este sitio web nace con la idea de hacer una puesta en común de estas dos disciplinas: la del código, por medio de Python y Django; <br>y la de la arquitectura por medio de la información que contiene.</br>
<i>Esperamos</i> que sea un material de consulta útil y práctico, tanto para colegas como para quien quiera sumar conocimiento de obras y autores alrededor del mundo.
</p>
</div>

{% endblock %}



