{% extends 'base.html' %}

{% block titulo %}
<h3>Detalle Arquitecto</h3>
{% endblock %}

{% block contenido %}
<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{object.nombre_apellido_arqui}}</h5>
        <a href="/app_blog/update_arquitecto/{{object.id}}/" class="btn btn-primary">Editar</a>
        <a href="/app_blog/delete_arquitecto/{{object.id}}/" class="btn btn-danger">Eliminar</a>
    </div>
</div>
{% endblock %}