{% extends 'base.html' %}

{% block titulo %}
<div style=background:rgba(62,63,66,0.075);>
<h3 style="margin-left:50rem">Arquitectos</h3>
{% endblock %}

{% block contenido %}
{{message}}
<div class="container">
    <div class="row row-cols-auto">
        {% for arquitecto in object_list %}
        <div class="col">
        <div class="card" style="width: 13rem; margin: 5px 5px;">
            <img src="{{arquitecto.image.url}}" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">{{arquitecto.nombre_apellido_arqui}}</h5>
            <a href="/app_blog/detail_arquitecto/{{arquitecto.id}}/" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}