{% extends 'base.html' %}

{% block titulo %}
<div style="margin-left:1rem"><h3>Detalle Arquitecto</h3></div>
{% endblock %}

{% block contenido %}
<div class="card" style="width: 18rem; margin-left:1rem">
    {% if object.image %}
        <img src="{{arquitecto.image.url}}" class="card-img-top" alt="...">
    {% endif %}
        <div class="card-body">
        <h4 class="card-title">{{object.nombre_apellido_arqui}}</h4>
        <p class="card-text"><b>Descripción: </b>{{object.descripcion}}</p>
        <a href="/app_blog/update_arquitecto/{{object.id}}/" class="btn btn-primary">Editar</a>
        <a href="/app_blog/delete_arquitecto/{{object.id}}/" class="btn btn-danger">Eliminar</a>
    </div>
</div>
{% endblock %}

