<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="btn btn-primary" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-light" href="/app_blog/obras_arq_view">Obras de Arquitectura<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-light" href="/app_blog/obras_arq_view/cargar_obra">Cargar Obra<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-light" href="/app_blog/arquitectos_view">Arquitectos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-light" href="/app_blog/arquitectos_view/cargar_arqui">Cargar Arquitecto<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" style="margin-right:37rem">
                    <a class="btn btn-light" href="/app_blog/about">Nosotros<span class="sr-only">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <span class="badge text-bg-light" >{{request.user.username}}</span>
                </li>
                <li class="nav-item active">
                    <img src="{{request.user.user_profile.image.url}}" style="height: 2rem;">
                </li>
                <li class="nav-item active">
                    <a class="btn btn-light" href="/logout/">Logout<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="btn btn-light" href="/login/">Login<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-light" href="/register/">Register<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="btn btn-light" href="/app_blog/contact/">Contacto<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action = "/app_blog/obras_arq_view/search_obra/" method = "GET">
                <input class="form-control mr-sm-2" type = "text" placeholder = "Nombre de obra" aria-label = "Search" name = 'search'>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar Obra</button>
            </form>
        </div>
    </nav>
    {% block titulo %}
        Document
    {% endblock %}
    {% block contenido %}
    {% endblock %}
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

</html>.

