{% extends 'base.html' %}

{% block titulo %}
<h3>Bibliografia</h3>
{% endblock %}


{% block contenido %}
    {% for libro in libros %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{libro.nombre_biblio}}</h5>
        <p class="card-text">{{libro.autor_biblio}}</p>
        <a href="/app_blog/detail_biblio/{{libro.id}}/" class="btn btn-primary">Ver detalle!</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}

