{% extends 'base.html' %}

{% block titulo %}
<h3>Cargar Arquitectos</h3>
{% endblock %}


{% block contenido %}

{% if form %}
    Aca va el contenido para cargar Arquitectos

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar">
</form>

{% elif new_inst %}

    <br>Nombre de arquitecto: {{new_arqui.nombre_arqui}}</br>
    <br>Apellido de arquitecto: {{new_arqui.apellido_arqui}}</br>

{% elif errors %}

    <div style="color: red;">
    {{errors}}
    </div>

{% endif %}
{% endblock %}


