{% extends 'base.html' %}

{% block titulo %}
<h3>Cargar Bibliografias</h3>
{% endblock %}


{% block contenido %}

{% if form %}
    Aca va el contenido para cargar Bibliografia

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar">
</form>

{% elif new_biblio %}

    <br>Nombre de Bibliografia: {{new_biblio.nombre_biblio}}</br>
    <br>Autor de Bibliografia: {{new_biblio.autor_biblio}}</br>

{% elif errors %}

    <div style="color: red;">
    {{errors}}
    </div>

{% endif %}
{% endblock %}

