{% extends 'base.html' %}

{% block titulo %}
<div style="margin-left:1rem"><h3>Contacto</h3></div>
{% endblock %}

{% block contenido %}}
<div style=background:rgba(62,63,66,0.068);>
<div style="margin-left:1rem"><h4>Contenido contacto</h4></div>
<h5 style="margin-left:1rem">Puede comunicarse con nosotros por medio de los siguientes espacios:</h5>
    <p style="margin-left:1rem">
        <span style = color:rgb(19,16,15)><b>Telefono:</b></span> 1123658695<br>
        <span style = color:rgb(19,16,15)><b>Email:</b></span> paginador@gmail.com <br>
        <span style = color:rgb(19,16,15)><b>Oficina:</b></span> 742 Evergreen Terrace <br>
    </p>
</div>
</div>
{% endblock %}