{% extends 'base.html' %}

{% block titulo %}
<h3>Instituciones Educativas</h3>
{% endblock %}

{% block contenido %}
    {% for institucion in instituciones %}
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{institucion.nombre_inst}}</h5>
        <p class="card-text">{{institucion.ubicacion_inst}}</p>
        <a href="/detail_instedu/{{institucion.id}}/" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>
{% endfor %}

{% endblock %}


