{% extends 'base.html' %}

{% block titulo %}
<div style="margin-left:1rem"><h3>Detalle de obra</h3></div>
{% endblock %}

{% block contenido %}
<div class="card" style="width: 18rem;">
        <img src="{{obra_arq.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{object.nombre_obra}}</h5>
        <p class="card-text">{{object.ubicacion_obra}}</p>
        <p class="card-text">{{object.año}}</p>
        <p class="card-text">{{object.tipo}}</p>
        <p class="card-text">{{object.descripcion}}</p>
        <a href="/app_blog/update_obra/{{object.id}}/" class="btn btn-primary">Editar</a>
        <a href="/app_blog/delete_obra/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
    {{obras.descripcion}}
{% endblock %}