{% extends 'base.html' %}

{% block titulo %}
<h3>Detalle de obra</h3>
{% endblock %}

{% block contenido %}
<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{obras.nombre_obra}}</h5>
        <p class="card-text">{{obras.autor_obra}}</p>
        <p class="card-text">{{obras.ubicacion_obra}}</p>
        <p class="card-text">{{obras.año}}</p>
        <p class="card-text">{{obras.tipo}}</p>
        <a href="#" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>
{% endblock %}