{% extends 'base.html' %}

{% block titulo %}
<div style="margin-left:1rem"><h3>Busqueda</h3></div>
{% endblock %}

{% block contenido %}

<div style="margin-left:1rem"><h5>Encontramos esto</h5></div>
<div class="container">
    <div class="row">
    {% for obra in obras %}
    <div class="col"></div>
        <div class="card" style="width: 18rem;">
        {% if obra.image %}
            <img src="{{obra.image.url}}" class="card-img-top" alt="...">
        {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{obra.nombre_obra}}</h5>
            <p class="card-text"><b>Arquitecto: </b>{{obra.arquitecto}}</p>
            <p class="card-text"><b>Ubicación: </b>{{obra.ubicacion_obra}}</p>
            <p class="card-text"><b>Año: </b>{{obra.año}}</p>
            <p class="card-text"><b>Tipo: </b>{{obra.tipo}}</p>
            <p class="card-text"><b>Descripción: </b>{{obra.descripcion}}</p>
            {% if request.user.is_authenticated %}
            <a href="/app_blog/update_obra/{{obra.id}}/" class="btn btn-primary">Editar</a>
            <a href="/app_blog/delete_obra/{{obra.id}}/" class="btn btn-danger">Eliminar</a>
            {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}




